.main, .mainWrapper, .descriptionTerritory {
    display: flex;
    flex-direction: column;
}

.main {
    width: var(--widthComputer);
    margin: 0 auto 4rem;
}

.mainWrapper {
    margin-top: 4rem;
}

.firstContainer {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 2rem;
    align-items: center;
}

.descriptionTerritory {
    font-size: calc(16px + (24 - 16) * (100vw - 480px) / (1920 - 480));
}

.subTitle {
    font-size: calc(24px + (32 - 24) * (100vw - 480px) / (1920 - 480));
    font-weight: bold;
    margin-bottom: 1rem;
}

.list {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.wrapperImgMain {
    width: 100%;
}

.mainImg, .otherImg {
    border-radius: 12px;
}

.mainImg {
    width: 100%;
    height: calc(320px + (480 - 320) * (100vw - 900px) / (1920 - 900));
}

.secondContainerMain {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.secondContainerMobile {
    display: none;
}

.otherImg {
    width: 100%;
    height: calc(160px + (192 - 160) * (100vw - 900px) / (1920 - 900));
}

@media (max-width: 1600px) {
    .main {
        width: var(--width1600);
    }
}

@media (max-width: 1250px) {
    .main {
        width: var(--width1250);
    }
}

@media (max-width: 900px) {
    .main {
        margin: 0 auto 2rem;
    }

    .firstContainer {
        grid-template-columns: 1fr;
    }

    .mainWrapper {
        margin-top: 2rem;
    }
    .wrapperImgMain {
        display: none;
    }

    .secondContainerMain {
        display: none;
    }

    .secondContainerMobile {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .otherImg {
        width: calc(240px + (320 - 240) * (100vw - 360px) / (900 - 360));
        margin: 0 1rem;
    }
}

@media (max-width: 480px) {
    .otherImg {
        margin: 0 1rem;
    }
    .list {
        margin-left: 1rem;
    }
}
